[submodule "gravity/sti"]
	path = gravity/sti
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
[submodule "gravity/inpush"]
	path = gravity/inpush
	url = https://github.com/szensk/inpush.git
